absl-py==0.8.0
alabaster==0.7.12
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
autonormalize==1.0.1
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
boto3==1.9.226
botocore==1.12.226
categorical-encoding==0.3.0
category-encoders==2.0.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
# configparser==4.0.1
contextlib2==0.5.5
cryptography==2.7
cuda4py==1.4.4
cupy-cuda101==6.3.0
cycler==0.10.0
Cython==0.29.13
cython-ipp==0.2.0
dask==2.3.0
decorator==4.4.0
defusedxml==0.6.0
distributed==2.3.2
docutils==0.15.2
entrypoints==0.3
fastrlock==0.4
featuretools==0.10.1
featuretools-tsfresh-primitives==0.1.0
featuretools-update-checker==1.0.2
flake8==3.7.8
fsspec==0.4.4
future==0.17.1
gast==0.3.1
google-pasta==0.1.7
graphviz==0.13
grpcio==1.23.0
h5py==2.10.0
HeapDict==1.0.1
icc-rt==2019.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
impi==2019.0
inflection==0.3.1
intel-openmp==2019.0
ipp==2019.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.29.0
lxml==4.4.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl==2019.0
mock==3.0.5
more-itertools==5.0.0
mpi4py==3.0.2
msgpack==0.6.1
nbconvert==5.5.0
nbformat==4.4.0
nbsphinx==0.4.2
ndg-httpsclient==0.5.1
nlp-primitives==0.2.3
nltk==3.4.5
nnabla==1.1.0
nnabla-ext-cuda==1.0.18
nnabla-ext-cuda101==1.1.0
numba==0.45.1
numexpr==2.7.0
numpy==1.16.5
packaging==19.1
pandas==0.25.1
pandas-datareader==0.7.4
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==6.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
pyasn1==0.4.7
pycodestyle==2.5.0
pycparser==2.19
pycuda==2019.1.2
pyculib==1.0.1
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyrsistent==0.15.4
python-dateutil==2.8.0
pytools==2019.1.1
pytz==2019.2
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
Quandl==3.4.8
QuantLib-Python==1.16.1
requests==2.22.0
s3fs==0.3.4
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
snowballstemmer==1.9.1
sortedcontainers==2.1.0
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
statsmodels==0.10.1
tables==3.5.2
tbb==2019.0
tblib==1.4.0
# tensorboard==1.14.0
# tensorflow==1.14.0
# tensorflow-estimator==1.14.0
# tensorflow-hub==0.4.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tiingo==0.11.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
tsfresh==0.12.0
typed-ast==1.4.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.6
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
yahoo-historical==0.3.0
zict==1.0.0